<div class="container">
  <div class="row p-4">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
  <div class="title row p-4 d-flex">
    <div class="col text-center" >
      <button [ngClass]="{'opaque' : this.showProjects}" (click)="toggleProjects()"><h4>Projects</h4></button>
    </div>
    <div class="col text-center" [ngClass]="{'opaque' : this.showSkills}">
      <button (click)="toggleSkills()"><h4>Skills</h4></button>
    </div>
  </div>
  <div class="row p-4 d-flex justify-content-center" *ngIf="!showSkills">
    <div class="col col-lg-6 col-md-10 col-12 mb-4" *ngFor="let p of projects">
      <ProjectCardComponent [project]="p"></ProjectCardComponent>
    </div>
  </div>
  <div class="container mt-4" *ngIf="showSkills">
    <div *ngFor="let skill of skills">
      <div class="skills">
        <div>{{ skill }}</div>
      </div>
    </div>
  </div>
  <div class="row back p-4 text-center">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
</div>
