<div class="container main hideSB">
  <div class="row p-4">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
  <div class="row p-4" *ngIf="article; else notFound">
    <div class="col">
      <h1 class="font-weight-bold text-center">{{ article.title }}</h1>
      <div
        class="content"
        *ngFor="let section of article.sections"
        [innerHTML]="section.section"
      >
        {{ section.imageLink }}
      </div>
      <div class="resources">
        <div
          class="mt-3 mb-3"
          *ngFor="let resource of article.resources"
          [innerHTML]="resource.resource"
        ></div>
      </div>
    </div>
  </div>

  <ng-template #notFound>
    <div class="row p-4 text-center">
      <div class="col">Nothing wasn't found</div>
    </div>
  </ng-template>
  <div class="row p-4 text-center">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
</div>
