<div class="container main hideSB">
  <div class="row p-4">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
  <div class="row p-4" *ngIf="article; else notFound">
    <div class="col">
      <h1 class="font-weight-bold text-center">{{ article.title }}</h1>

      <div  *ngFor="let section of article.sections">
        <div
        class="content imageLink"
       
        [innerHTML]="section.section"
      >
      </div>
      <img src="{{section.imageLink}}"/> 

      </div> 

      

      

     
      <div class="resources">
        <div
          class="mt-3 mb-3 rrrr"
          *ngFor="let resource of article.resources"
          [innerHTML]="resource"
        >
      </div>
      </div>
    </div>
  </div>

  <ng-template #notFound>
    <div class="row p-4 text-center">
      <h4>{{ notFoundMessage }}</h4>
    </div>
  </ng-template>
  <div class="row p-4 text-center">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
</div>
