<div class="card m-4" [ngStyle]="{ 'background-image': 'url(' + project.imageLink + ')' }">
  <div class="layer text-center">
    <div class="card-header">
      <h5 class="card-title font-weight-bold">
        {{ project.title }}
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{ project.description }}</p>
    </div>
    <div *ngIf="mobile; else desktop">
      <a (click)="goToProject()">{{ 'projects.goToProject' | i18next }} </a>
    </div>
    <ng-template #desktop>
      <div class="footer w-100">
        <button class="btn btn-outline-light btn-lg" (click)="goToProject()">
          {{ 'projects.goToProject' | i18next }}
        </button>
      </div>
    </ng-template>
  </div>
</div>