div.card {
  background: transparent;
  height: auto;
  background-size: cover;
  border: transparent;
}

a.card-link {
  cursor: pointer;
}

div.layer {
  background-color: rgba(0, 0, 0, 0.6);
  height: inherit;
  padding: 1rem;

}


div.footer {

}

p.card-text {
    font-size: 1rem;
}