<button class="hamburger hamburger--vortex {{this.isToggled ? 'is-active' : ''}}" type="button"
  (click)="this.isToggled = !this.isToggled">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

<ul class="menu icons animate__animated animate__bounceInLeft {{this.isToggled ? '' : 'd-none'}}">
  <li class=""><a routerLink="/projects">{{ 'menu.projectsSkills' | i18next }}</a></li>
  <li class=""><a routerLink="/contacts">{{ 'menu.contacts' | i18next }}</a></li>
  <!--<li><a routerLink="/blog">BLOG</a></li>-->
</ul>