button {
  &.hamburger {
    background-color: transparent;

    .hamburger-inner {
      background-color: #fff;
      &::before {
        background-color: #fff;
      }
      &::after {
        background-color: #fff;
      }
    }
  }
}
ul.menu {
  box-sizing: border-box;
  width: fit-content;
  max-width: 100%;
  list-style-type: none;
  padding: 0;
  display: inline-block;
  border-top: 0.5px solid #fff;
}

ul.menu > li {
  display: inline-block;
  margin: 0 1vw;
  padding: 0;
  transition: padding 0.5s, background-color 0.5s;
  transition-timing-function: ease-out;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
}

ul.menu > li:hover {
  background-color: rgba(7, 10, 26, 0.6);
  padding: 1vw;
}

@media only screen and (hover: none) and (pointer: coarse) {
  li a {
    font-size: initial;
  }

  ul.menu {
    border-top: none;
  }

  ul.menu > li {
    display: block;
    padding: 0.2rem;
  }

  li a:active {
    background-color: rgba(7, 10, 26, 0.6);
    padding: 1vw;
  }
}
