<nb-layout>
  <nb-layout-header fixed>
    <nb-actions>
      <nb-action title="Home" [routerLink]="['/home']">
        <nb-icon icon="home"></nb-icon>
      </nb-action>
      <nb-action title="Resume" [routerLink]="['/resume']">
        RESUME
      </nb-action>
      <nb-action title="Contact me" [routerLink]="['/contact-form']">
        <nb-icon icon="email"></nb-icon>
      </nb-action>
    </nb-actions>
    <nb-actions>
      <nb-action title="GitHub Profile">
        <a target="_blank" href="{{ gitHubProfile }}"
          ><nb-icon icon="github-outline"></nb-icon
        ></a>
      </nb-action>
      <nb-action title="Linkedin Profile">
        <a target="_blank" href="{{ linkedinProfile }}"
          ><nb-icon icon="linkedin"></nb-icon
        ></a>
      </nb-action>
    </nb-actions>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
