<nb-stepper orientation="vertical">
    <nb-step label="Education">
      <h4>Education</h4>
      <p>
          BLABLA
      </p>
      <button nbButton disabled nbStepperNext>prev</button>
      <button nbButton nbStepperNext>next</button>
    </nb-step>
    <nb-step label="Work experience">
      <h4>Work experience</h4>
      <p>
        BLABLA
      </p>
      <button nbButton nbStepperPrevious>prev</button>
      <button nbButton nbStepperNext>next</button>
    </nb-step>
    <nb-step label="Courses and Certifications">
      <h4>Courses and Certifications</h4>
      <p>
        BLABLABLABLA
      </p>
      <button nbButton nbStepperPrevious>prev</button>
      <button nbButton nbStepperNext>next</button>
    </nb-step>
  </nb-stepper>