<nb-stepper orientation="vertical">
  <nb-step label="Education">
    <nb-card>
      <nb-card-header>Education</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
    <button nbButton disabled nbStepperNext>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>
  <nb-step label="Work experience">
    <nb-card>
      <nb-card-header>Work experience</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
    <button nbButton nbStepperPrevious>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>
  <nb-step label="Courses and Certifications">
    <nb-card>
      <nb-card-header>Courses and Certifications</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
    <button nbButton nbStepperPrevious>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>
  <nb-step label="Projects">
    <nb-card>
      <nb-card-header>Courses and Certifications</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
    <button nbButton nbStepperPrevious>prev</button>
    <button nbButton nbStepperNext>next</button>
  </nb-step>
</nb-stepper>
