<div class="container">
  <div class="row p-4">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
  <div
    class="row p-4 d-flex justify-content-center"
    *ngIf="articlesCards; else notFound"
  >
    <div
      class="col col-lg-10 col-md-10 col-sm-12 mb-4"
      *ngFor="let articleCard of articlesCards"
     
    >
      <ArticleCardComponent [articleCard]="articleCard"></ArticleCardComponent>
    </div>
  </div>
  <ng-template #notFound>
    <div class="row p-4 text-center">
      <div class="col">
        <h4>{{ notFoundMessage }}</h4>
      </div>
    </div>
  </ng-template>
  <div class="row p-4 text-center">
    <div class="col">
      <button goback>Back</button>
    </div>
  </div>
</div>
