<div class="container">
  <div class="row text-center">
    <div class="col home-heading">
      <h1 class="home-heading">Devdenise</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="img-container col-lg-5 col-md-5 col">
      <img
        src="../../assets/pic-site.png"
        class="img-fluid rounded-circle"
        alt="devdenise"
      />
    </div>
  </div>

  <div class="container mt-5 d-flex justify-content-center">
    <div class="social-links m-3">
      <a target="_blank" href="{{ gitHubProfile }}"
        ><img
          class="icons"
          src="./../../assets/github-icon.png"
          alt="Facebook"
          width="30"
          height="30"
      /></a>
    </div>
    <div class="social-links m-3">
      <a target="_blank" href="{{ linkedinProfile }}"
        ><img
          class="icons"
          src="./../../assets/linkedin-icon.png"
          alt="Facebook"
          width="30"
          height="30"
      /></a>
    </div>
    <div class="social-links m-3">
      <a target="_blank" href="{{ soundCloudProfile }}"
        ><img
          class="icons"
          src="./../../assets/soundcloud-icon.png"
          alt="Facebook"
          width="30"
          height="30"
      /></a>
    </div>
  </div>
  <div class="container">
    <menu></menu>
  </div>
</div>
